/* Glocal Setting */
@font-face {
	font-family: 'Avenir Next UltraLight';
	src: url('http://nd-desktop.b0.upaiyun.com/avenir-next-ultralight.woff');
}
@font-face {
	font-family: 'Avenir Next W01 Thin Regular';
	src: url('http://nd-desktop.b0.upaiyun.com/avenir-next-w01-thin.woff');
}
body {
	font-family: 'Avenir Next UltraLight','Segoe UI','微软雅黑','Microsoft YaHei';
}
.white {
	color: #FFF;
}
p {
	-webkit-margin-before: 0 !important;
	-webkit-margin-after: 0 !important;
}
/* Startup Page */
#startup {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 320px;
	height: 548px;
	z-index: 999;
	background-image: url('../img/nextday-startup.png');
}
/* Window Control */
#winctrl {
	position: fixed;
	width: 100px;
	height: 20px;
	top: 0px;
	right: 0px;
	z-index: 1;
}
#ctrlback {
	position: fixed;
	width: 100px;
	height: 20px;
	top: 0px;
	right: 0px;
	background-color: #000;
	border-radius: 0px 0px 0px 5px;
	opacity: 0.6;
	z-index: -1;
}
#min {
	position: fixed;
	top: 0px;
	right: 48px;
	width: 52px;
	height: 20px;
	background-image: url("../img/min.png");
	background-size: 25px 20px;
	background-repeat: no-repeat;
	background-position: center;
}
#line {
	position: fixed;
	top: 0px;
	right: 48px;
	width: 1px;
	height: 20px;
	background-image: url("../img/line.png");
	opacity: 0.2;
	background-repeat: no-repeat;
	background-position: center;
}
#exit {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 48px;
	height: 20px;
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	background-position: center;
}
#drag {
	position: fixed;
	width: 30px;
	height: 20px;
	top: 0px;
	right: 140px;
	background-color: #000;
	border-radius: 0px 0px 5px 5px;
	opacity: 0.6;
	background-image: url('../img/drag.png');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-app-region: drag;
}
/* Main Interface */
#page {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 320px;
	height: 548px;
}
#cover {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 320px;
	height: 548px;
	background-image: url("../img/default.png");
	background-size: 320px 548px;
}
#date {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	-webkit-user-select: none;
}
#mawae {
	font-family: 'Avenir Next W01 Thin Regular';
	position: fixed;
	font-size: 18px;
	left: 14px;
	bottom: 173px;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
}
#day {
	position: fixed;
	font-size: 103px;
	bottom: 172px;
	left: 10px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
#words {
	position: fixed;
}
#geo {
	position: fixed;
	font-size: 12px;
	top: 420px;
	left: 13px;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
}
#background {
	position: fixed;
	top: 440px;
	left: 0px;
	right: 0px;
	width: 320px;
	height: 22px;
	background-color: #000;
	z-index: -1;
}
#short {
	position: fixed;
	font-size: 13px;
	bottom: 87px;
	left: 13px;
}
#author {
	position: fixed;
	font-size: 11px;
	bottom: 16px;
	right: 20px;
	text-align: right;
}
/* Music Player */
#music {
	font-family: 'Avenir Next UltraLight';
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
#todaymusic {
	display: none;
}
#songname {
	position: fixed;
	font-size: 14px;
	bottom: 29px;
	left: 50px;
}
#artist {
	position: fixed;
	font-size: 9px;
	bottom: 18px;
	left: 50px;
}
#music-bg {
	position: fixed;
	bottom: 0px;
	width: 320px;
	height: 50px;
	opacity: 0.7;
	background-image: url('../img/music-bg.png');
	background-position: center;
	background-repeat: no-repeat;
}
#play-pause-button {
	position: fixed;
	height: 30px;
	width: 30px;
	bottom: 16px;
	left: 11px;
	background-size: 20px 30px;
	background-position: center;
	background-repeat: no-repeat;
}
.play {
	background-image: url('../img/play.png');
}
.pause {
	background-image: url('../img/pause.png');
}
/* Exit Page */
#exitpage {
	display: none;
}
#exitvideo {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 320px;
	height: 548px;
}
#videoimg {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 320px;
	height: 548px;
	background-image: url("../img/video.png");
}